<div class="text-container" id="smaller_container">
  <%= form_tag records_path , { :method => :post } do %>
    <div class="clear"></div>
    <label for="title">
      * Dataset Title
      <a href="#dataset_title_help" name="help_link" class="help_link">
        <img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
      </a>
    </label>
    <%= text_field_tag "title", @record.title, :size=>"20", :class=>'input-text', :placeholder => "Dataset title", 'aria-required' => 'true' %>

    <label for="publisher">
      * Institution
      <a href="#institution_help" name="help_link" class="help_link">
        <img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
      </a>
    </label>
    <%#= select_tag "publisher",
            			options_for_select(institution, @record.publisher),
            			prompt: "Choose institution:" %>

    <%= text_field_tag "publisher", campus_short_name(@user),
                       :disabled => true,
                       :class=>"input-text",
                       :style => "width:180px;" %>

    <br/>
    <!--
							<label for="publicationyear">
								* Publication Year
								<a href="#publication_year_help" name="help_link" class="help_link">
									<img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
								</a>
							</label>
							<%#= text_field_tag "publicationyear", @record.publicationyear, :size=>"20", :class=>'input-text', :placeholder => "e.g, 2013" %>
							<br/>
						-->
    <%= hidden_field_tag "publicationyear", @record.publicationyear, :value => Time.now.year %>
    <label for="resourcetype">
      * Data Type
      <a href="#data_type_help" name="help_link" class="help_link">
        <img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
      </a>
    </label>
    <%= select_tag "resourcetype", options_for_select(datatype, @record.resourcetype), prompt: "Choose data type:", 'aria-required' => 'true' %>
    <br/>
    <!-- <%= hidden_field_tag "contributor_name", "UCSF", :size=>"20", :class=>"input-text" %> -->
    <div class="fieldset">
      <label for="creator_name">
        * Data Creator(s)
        <a href="#data_creator_help" name="help_link" class="help_link">
          <img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
        </a>
      </label>
      <%= text_field_tag "creator_name", @creator.creatorName, :size=>"20", :class=>"input-text", :placeholder => "Lastname, Firstname", 'aria-required' => 'true' %>

      <button class="btn">+ Additional Creator</button>

      <div id="creators_ajax">
        <%= render 'creators' %>
      </div>
    </div>



    <div style=" clear:both; width:800px;">

      <div style="clear:both; float:left; width:160px;">
        <p id="keyword-group" class="group-label">
          Keywords
          <a href="#keyword_help" name="help_link" class="help_link">
            <img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
          </a>
        </p>
        <label for="subject_name" aria-labelledby="keyword-group">Keyword 1</label>
        <label for="subject_name2" aria-labelledby="keyword-group">Keyword 2</label>
        <label for="subject_name3" aria-labelledby="keyword-group">Keyword 3</label>
      </div>

      <div style="float:left; width:280px; margin-left:22px;">
        <%= text_field_tag "subject_name", "", :size=>"20", :placeholder => "Keyword" %>
      </div>

      <div style="clear:both; margin-left:181px; width:280px;">
        <%= text_field_tag "subject_name2", "", :size=>"20", :placeholder => "Keyword" %>
      </div>

      <div style="clear:both; margin-left:181px;  width:800px; ">
        <div style="float:left; ">
          <%= text_field_tag "subject_name3", "", :size=>"20", :placeholder => "Keyword" %>
        </div>
        <div style="float:left; margin-left:114px;">
          <button class="btn">+ Additional Keyword</button>
        </div>
      </div>

      <div id="subjects_ajax">
        <%= render 'subjects' %>
      </div>


    </div>



    <div class="fieldset">
      <label for="abstract">
        Abstract
        <a href="#abstract_help" name="help_link" class="help_link">
          <img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
        </a>
      </label>
      <%= text_area_tag "abstract", @record.abstract, :rows => 6, :cols => 60 %>
    </div>
    <div class="fieldset">
      <label for="methods">
        Methods
        <a href="#methods_help" name="help_link" class="help_link">
          <img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
        </a>
      </label>
      <%= text_area_tag "methods", @record.methods, :rows => 6, :cols => 60 %>
    </div>
    <div class="fieldset">
      <label for="citation">
        Citation(s)
        <a href="#citations_help" name="help_link" class="help_link">
          <img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
        </a>
      </label>
      <%= text_area_tag("citation", "", :rows => 6, :cols => 60, :placeholder => "e.g., Patterns of age-related water diffusion changes in human brain by concordance and discordance analysis. Zhang Y, Du AT, Hayasaka S, Jahng GH, Hlavin J, Zhan W, Weiner MW, Schuff N. Neurobiol Aging. 2010 Nov;31(11):1991-2001. doi: 10.1016/j.neurobiolaging.2008.10.009. Epub 2008 Nov 25. PMID: 19036473") %>
      <button class="btn">+ Additional Citation</button>
      <div id="citations_ajax">
        <%= render 'citations' %>
      </div>
    </div>
    <!-- <div class="large-button-container">
      <button class="btn btn-large btn-success" data-confirm="Save Record?">Save</button>
      <button class="btn btn-large btn-success" value="add_data" name="add_data" data-confirm="Save and Continue to Data Upload Page?">Save and Continue</button>
    </div> -->


    <div class="large-button-container">
      <%= submit_tag "Save",  :class => "btn btn-large btn-success", :alt => "Save", :confirm => "Save Record?" %>
      <%= submit_tag "Save And Continue",  :class => "btn btn-large btn-success", :alt => "Save And Continue", :name => "add_data", :value => "Save And Continue" , :confirm => "Save and Continue to Data Upload Page?" %>
    </div>


  <% end %>
</div>