<!-- begin page id -->
<div id="step-two-describe-page">
  <!-- begin outer container -->
  <div id="outer-container">
    <!-- begin inner container -->
    <div id="inner-container">
      <div id="header">
        <!-- begin header -->
        <%= render 'layouts/header' %>
        <!-- end header -->
      </div>
      <!-- begin navigation-->
      <%= render 'layouts/navigation' %>
      <!--end navigation-->
      <!-- begin content -->

      <div id="content">
        <div id="banner">
        <%= image_tag("banner-home-v8.0.jpg", width: "952", height: "72", alt: "Publish and Download Research Datasets") %>
        </div>

        <div class="single-column">
          <h1>Describe Your Dataset</h1>
          <div class="required">
            * Required Field
          </div>

          <%= render :partial => 'form' %>

        </div>
        <!-- end content-->
        <!-- begin footer-->
        <%= render 'layouts/footer' %>
        <!-- end footer-->
      </div>
      <!-- end inner container -->
    </div>
    <!-- end outer container -->
  </div>
</div>

<div id="dataset_title_help" class="help_window">
  <h2>Title</h2>
  <p>Title of the submission. Be as descriptive as possible and consider including information important for understanding and identifying the dataset.
</p>
  <p>Examples of bad titles:</p>
  <ul>
    <li>mydata</li>
    <li>2001 data</li>
  </ul>
  <p>Examples of good titles:</p>
  <ul>
    <li>Growth rate and age distribution of Waquoit Bay softshell clams</li>
    <li>MCSF Biomarker and PIB-PET Derived Beta-Amyloid Signature in Non-Demented Subjects</li>
  </ul>
</div>

<div id="institution_help" class="help_window">
  <h2>Publisher</h2>
  <p>Name of institution or publisher that supported creation of the dataset or holds the dataset. This field is auto-populated to correspond to your login information.</p>
</div>

<div id="publication_year_help" class="help_window">
  <h2>Publication Year</h2>
  <p>Current year, in the format YYYY.</p>
</div>

<div id="data_type_help" class="help_window">
  <h2>Data Type</h2>
  <p>Type of data. This entry is constrained to a dropdown list, corresponding to the DataCite metadata standard. Choices include:</p>
  <ul>
    <li><strong>Audiovisual</strong>: A series of visual representations imparting an impression of motion when shown in succession. May or may not include sound.</li>
    <li><strong>Collection</strong> (multiple file types): An aggregation of resources of various types. If a collection exists of a single type, use the single type to describe it.</li>
    <li><strong>Dataset</strong>: Data encoded in a defined structure.</li>
    <li><strong>Image</strong>: visual representation other than text.</li>
    <li><strong>Poster</strong>: research output that summarizes work for a conference or meeting.</li>
    <li><strong>Presentation</strong>: slides or visuals used to explain a research project or outcome.</li>
    <li><strong>Software</strong>: A computer program in source code (text) or compiled form.</li>
    <li><strong>Sound</strong>: A resource primarily intended to be heard.</li>
    <li><strong>Text</strong>: A resource consisting primarily of words for reading.</li>
  </ul>
  <p>We recommend including a “readme.txt” document alongside your dataset that provides a human-readable explanation of the files you are uploading. </p>
  <p>If the dataset consists of multiple files, we recommend, but do not require, that you put all of the files into a single compressed folder (e.g. zip, tar) before uploading it to Dash.</p>
</div>

<div id="data_creator_help" class="help_window">
  <h2>Author</h2>
  <p>Provide the names of the main researcher(s) involved in producing the data. To add more than one author, enter the first creator and click the "+ Additional Author” button to the right of the field. Format is LastName, FirstName.</p>
</div>

<div id="keyword_help" class="help_window">
  <h2>Keywords</h2>
  <p>Provide keywords that will help other researchers find your dataset. We recommend you use a controlled vocabulary appropriate to the research domain when choosing keywords.</p>
  <p>Add one keyword per entry box. Click &quot;+ Additional keyword&quot; to add more than three.
  </p>
</div>

<div id="abstract_help" class="help_window">
  <h2>Abstract</h2>
  <p>Use this space to describe your dataset. You may include information about the study that resulted in this dataset, temporal or spatial information about data collection, or other information that might help researchers determine whether they are interested in downloading your dataset.</p>
</div>

<div id="methods_help" class="help_window">
  <h2>Methods</h2>
  <p>Use this field to provide any technical or methodological info that helps other researchers understand how the data were generated and/or how they may be properly re-used.</p>
</div>

<div id="citations_help" class="help_window">
  <h2>Links</h2>
  <p>This set of fields may be used to indicate the existence of any other resources that are associated with your dataset, for example publications, other datasets, posters, or websites. For each link provided, you must specify the link type (controlled list including DOI, PMID, URL, etc.) and the link’s relationship to the dataset you are submitting (controlled list including Cites, IsCitedBy, IsSupplementTo, etc.). To add more than one link, enter the first link and click the &quot;+ Additional link&quot; button to the right of the field.</p>
</div>

<div id="funder_help" class="help_window">
  <h2>Funder</h2>
  <p>Specify the primary funder for the project that resulted in the dataset.</p>
</div>

<div id="grant_number_help" class="help_window">
  <h2>Grant Number</h2>
  <p>Specify the grant number associated with the project that resulted in the dataset.</p>
</div>

<div id="rights_help" class="help_window">
  <h2>Rights</h2>
  <p>All data submitted to Dash is released under the terms of the Creative Commons Attribution license (CC-BY-4.0). For more information, contact uc3@ucop.edu.</p>
</div>

<div id="OCDataPortal_help" class="help_window">
  <h2>The OC Data Portal</h2>
  <p>The OC Data Portal features data collected in or otherwise connected to Orange County, California. If this box is checked, data will be made available via the OC Data Portal interface (link) in addition to the main UCI Dash interface.</p>
</div>

<div id="geoLocation_help" class="help_window">
  <h2>Associated Location</h2>
  <p>Geographic information related to your data, such as where the data was collected or the geographic area it applies to, may be entered in one of two ways:</p>
  <ul>
  <li>GeoLocation Point: enter one or more discrete points.</li>
  <li>GeoLocation Box: create a single box covering an area associated with your data.</li>
  </ul>
</div>

<div id="geoPoints_help" class="help_window">
  <h2>Geographic Points</h2>
  <p>Enter one or more discrete points (up to 25) by (1) clicking the map (2) entering a pair of Latitude / Longitude coordinates.</p>
</div>

<div id="geoBox_help" class="help_window">
  <h2>Geographic Points</h2>
  <p>Create a single box covering an area associated with your data by (1) drawing on the map (2) entering 2 pairs of Latitude / Longitude coordinates, one for the upper left corner and one for the lower right corner of the box.</p>
</div>



