<body>
<!-- begin page id -->
<div id="step-two-describe-page"> 
<!-- begin outer container -->  
  <div id="outer-container"> 
    <!-- begin inner container -->
    <div id="inner-container"> 
       	 <!-- begin header -->
			<%= render 'layouts/header' %>
		  <!-- end header -->
			<!-- begin navigation-->
				<%= render 'layouts/navigation' %>
			<!--end navigation-->
		<!--end navigation-->
		
		<!-- begin content -->
			<div id="content"> 
				<div id="steps-container">
					<div id="step-one" >
						<div class="step-sm-off">STEP ONE:</div>
						<div class="bold-title-off">Prepare</div>
					</div>
					<div id="step-two" >
						<div class="step-sm-on">STEP TWO:</div>
						<div class="bold-title-on">Describe</div>
					</div>
					<div id="step-three" >
						<div class="step-sm-off">STEP THREE:</div>
						<div class="bold-title-off">Upload</div>
					</div>
					<div id="step-four" >
						<div class="step-sm-off">STEP FOUR:</div>
						<div class="bold-title-off">Review & Submit</div>
					</div>
				</div>	

				<div class="single-column">


				<h1>Describe your dataset</h1>

							<div class="required">
								* Required Field
							</div>
							<div class="text-container" id="smaller_container">
								<%= form_tag "/update_record/#{@record.id}" , { :multipart => true, :remote => true } do %>


									<div class="clear"></div>
									<label for="title">
										* Dataset Title
										<a href="#dataset_title_help" name="help_link" class="help_link">
											<img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
										</a>
									</label>
									<%= text_field_tag "title", @record.title, :size=>"20", :class=>'input-text', :placeholder => "e.g., Gulf War Illness dataset" %>
									
									<label for="publisher">
										* Institution
										<a href="#institution_help" name="help_link" class="help_link">
											<img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
										</a>
									</label>
									<select id="publisher" name="publisher">
										<option value="University of California, San Francisco">UCSF</option>
									</select>
									
									<br/>
									
									<!--
									<label for="publicationyear">
										* Publication Year
										<a href="#publication_year_help" name="help_link" class="help_link">
											<img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
										</a>
									</label>
								<%= text_field_tag "publicationyear", @record.publicationyear, :size=>"20", :class=>'input-text', :placeholder => "e.g, 2013" %>
									
									<br/>
									-->
									<%= hidden_field_tag "publicationyear", @record.publicationyear, :value => Time.now.year %>
									
									
									<label for="resourcetype">
										* Data Type
										<a href="#data_type_help" name="help_link" class="help_link">
											<img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
										</a>
									</label>
									<%= text_field_tag "resourcetype", @record.resourcetype, :size=>"20", :class=>'input-text', :placeholder => "e.g., Dataset" %>
									
									<br/>

									<%= hidden_field_tag "contributor_name", "UCSF", :size=>"20", :class=>"input-text" %>

									<div class="fieldset">
										<label for="creator_name">
											Data Creator(s)
											<a href="#data_creator_help" name="help_link" class="help_link">
												<img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
											</a>
										</label>
										<%= text_field_tag "creator_name", "", :size=>"20", :class=>"input-text", :placeholder => "e.g., Weiner, Michael W." %>		
										<%= image_submit_tag("addl_creator.png", :alt => "Add Creator", :class => "input-button") %>
										<div id="creators_ajax">
										  	<%= render 'creators' %>
										</div>
									</div>

									<div class="fieldset">
										<label for="subject_name">
											Keyword(s)
											<a href="#keyword_help" name="help_link" class="help_link">
												<img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
											</a>
										</label>
										<%= text_field_tag "subject_name", "", :size=>"20", :class=>"input-text", :placeholder => "e.g., Atrophy" %>
										<%= image_submit_tag("addl_keyword.png", :alt => "Add Subject", :class => "input-button") %>
											<div id="subjects_ajax">
											  	<%= render 'subjects' %>
											</div>
										
									</div>
									
									<div class="fieldset">
										<label for="description_abstract">
											Abstract
											<a href="#abstract_help" name="help_link" class="help_link">
												<img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
											</a>
										</label>
										<%= text_area_tag "abstract", @record.abstract, :rows => 6, :cols => 60%>
									</div>
									
									<div class="fieldset">
										<label for="description_methods">
											Methods
											<a href="#methods_help" name="help_link" class="help_link">
												<img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
											</a>
										</label>
										<%= text_area_tag "methods", @record.methods, :rows => 6, :cols => 60 %>
									</div>

									<div class="fieldset">
										<label for="relation_relationText">
											Citation(s)
											<a href="#citations_help" name="help_link" class="help_link">
												<img src="/images/help-icon.jpg" alt="Click for additional help" title="Click for additional help"/>
											</a>
										</label>
										<%= text_area_tag("citation", "", :rows => 6, :cols => 60, :placeholder => "e.g., Patterns of age-related water diffusion changes in human brain by concordance and discordance analysis. Zhang Y, Du AT, Hayasaka S, Jahng GH, Hlavin J, Zhan W, Weiner MW, Schuff N. Neurobiol Aging. 2010 Nov;31(11):1991-2001. doi: 10.1016/j.neurobiolaging.2008.10.009. Epub 2008 Nov 25. PMID: 19036473")%>
										<%= image_submit_tag("addl_citation.png", :alt => "Add Citation", :class => "input-button") %>
										<div id="citations_ajax">
										  	<%= render 'citations' %>
										</div>
									</div>

								<div class="large-button-container">

										<%= image_submit_tag "lrg_save.png",  :size => "203x57", :alt => "Save", :confirm => "Save Record?" %>
																			
										<%= image_submit_tag "lrg_save_cont.png",  :size => "203x57", :alt => "Save And Continue", :name => "add_data", :value => "add_data" , :confirm => "Save and Continue to Data Upload Page?" %>
													
								</div>
								
								<% end %>
							</div>
						</div>
					</div>
					<!-- end content-->
			

					<!-- begin footer-->
						<%= render 'layouts/footer' %>
					<!-- end footer-->
				</div>
				<!-- end inner container -->
			</div>
			<!-- end outer container -->
		</div>
		
		
		<div id="dataset_title_help" class="help_window">
			<h2>Dataset Title</h2>
			<p>
				The title of the dataset. Try to be descriptive and include information important for understanding the dataset content. Examples of bad titles are &quot;mydata.xls&quot; or &quot;data2013.txt&quot;. Examples of good titles are &quot;MCSF Biomarker and PIB-PET Derived Beta-Amyloid Signature in Non-Demented Subjects.&quot;
			</p>
		</div>

		<div id="institution_help" class="help_window">
			<h2>Institution</h2>
			<p>
				Name of the institution that supported creation of the dataset.(DataShare currently pre-populates this field with &quot;UCSF&quot;.)
			</p>
		</div>

		<div id="publication_year_help" class="help_window">
			<h2>Publication Year</h2>
			<p>
				Current year, in the format YYYY.
			</p>
		</div>

		<div id="data_type_help" class="help_window">
			<h2>Data Type</h2>
			<p>
				Use this field to specify the type of file(s) you will be uploading as part
				of this dataset.  DataShare accepts all file formats. Generally speaking,
				they should fall into one of the following types:
			</p>

			<ul>
				<li>text</li>
				<li>spreadsheet (csv, tab-delimited, Excel)</li>
				<li>video</li>
				<li>image</li>
				<li>software code</li>
				<li>pdf</li>
			</ul>

			<p>
				If your data files are of a specialized or proprietary nature,
				be sure to include any pertinent information that would allow the proper
				viewing and/or usage of the file(s), either as a separate 'Readme' document
				within the data set folder, or in the 'Technical Description'.
			</p>

			<p>
				If the dataset consists of multiple files, we recommend, but do not
				require, that you put all of the files into a single compressed folder
				(e.g. zip, tar) before uploading it to DataShare.
			</p>
		</div>

		<div id="data_creator_help" class="help_window">
			<h2>Data Creator(s)</h2>
			<p>
				Provide the names of the main researcher(s) involved in producing the data. To add more than one creator, enter the first creator and click the &quot;+ Additional creator&quot; button to the right of the field. Format is LastName, FirstName.
			</p>
		</div>

		<div id="keyword_help" class="help_window">
			<h2>Keywords</h2>
			<p>
				Provide keywords that will help other researchers find your dataset. DataShare recommends using a controlled vocabulary such as MeSH (Medical Subject Headings) <http://www.nlm.nih.gov/mesh/MBrowser.html> when choosing keywords. Keywords must be added one at a time. Enter the first keyword and click the &quot;+ Additional keyword&quot; button to the right of the field. DataShare recommends that you add a minimum of three keywords.
				<p/>
				Add keywords one at a time
			</p>
		</div>

		<div id="abstract_help" class="help_window">
			<h2>Abstract</h2>
			<p>
				Use this space to describe your dataset. You may include information about the study that resulted in this dataset, temporal or spatial information about data collection, or other information that might help researchers determine whether they are interested in downloading your dataset.
			</p>
		</div>

		<div id="methods_help" class="help_window">
			<h2>Methods</h2>
			<p>
				Use this field to provide any technical or methodological
				info that helps other researchers understand how the data
				were generated and/or how they may be properly re-used.
			</p>
		</div>

		<div id="citations_help" class="help_window">
			<h2>Citation(s) related to this dataset</h2>
			<p>
				This field may be used to indicate the existence of any other resources that are associated with the data, for example publications, posters or grant numbers. 
				All citation formats are acceptable. Where applicable, please provide any relevant identifiers within the citation, e.g., PMID or DOI. To add more than one citation, enter the first citation and click the &quot;+ Additional citation&quot; button to the right of the field. 
			</p>
		</div>
		
	</body>
</html>