<%= render 'layouts/head1' %>
<title>Dash: My Datasets - Open data for the global research community</title>
<%= render 'layouts/head2' %>
<body>
<!-- begin page id -->
<div id="step-four-review-page"> 
<!-- begin outer container -->  
  <div id="outer-container"> 
    <!-- begin inner container -->
    <div id="inner-container"> 
       <!-- begin header -->
		<div id="header">
			<%#= render 'layouts/header-logout' %>
			<%= render 'layouts/header' %>
		</div>
		<!-- end header -->
		<!-- begin navigation-->
			<%= render 'layouts/navigation' %>
		<!--end navigation-->
		
		<!-- begin content -->
		<div id="content"> 
			<div id="banner">
				<%= image_tag("banner-home-v8.0.jpg", width: "952", height: "72", alt: "Publish and Download Research Datasets") %>
			</div>	
			
			<div class="single-column">
			
			<h1>Review Before Submitting</h1>
			<h2>Metadata</h2>
			<div class="metadata-container">
				<div class="content">
					<div class="content-row">
						<div class="field-left">Dataset Title:</div>
						<div class="field-right"><%= @record.title %></div>
					</div>
					<div class="content-row">
						<div class="field-left">Institution:</div>
						<div class="field-right"><%= @record.publisher %></div>
					</div>
					<div class="content-row">
						<div class="field-left">Publication Year:</div>
						<div class="field-right"><%= @record.publicationyear %></div>
					</div>
					<div class="content-row">
						<div class="field-left">Data Type:</div>
                                                <div class="field-right"><%= resourceType(@record.resourcetype) %></div>
					</div>
					<div class="content-row">
						<div class="field-left">Data Creator:</div>
						<div class="field-right">	
							<% if !@record.creators.first.nil? %>
								<%= @record.creators.first.creatorName %>
							<% end %>
						
							<% @record.creators.drop(1).each do |creator| %>
								| <%= creator.creatorName %>
							<% end %>
						</div>
					</div>
					<!--
					<div class="content-row">
						<div class="field-left">At:</div>
						<div class="field-right">
							<% if !@record.contributors.first.nil? %>
								<%= @record.contributors.first.contributorName %>
							<% end%>
						
							<% @record.contributors.drop(1).each do |contributor| %>
								| <%= contributor.contributorName %>
							<% end %>
							
						</div>
					</div>
					-->
					<div class="content-row">
						<div class="field-left">Keywords:</div>
						<div class="field-right">
							<% if !@record.subjects.first.nil? %>
								<%= @record.subjects.first.subjectName %>
							<% end%>
						
							<% @record.subjects.drop(1).each do |subject| %>
								| <%= subject.subjectName %>
							<% end %>
							
						</div>
					</div>



					<div class="content-row">
						<div class="field-left">Rights:</div>
						<div class="field-right"><%= @record.rights %></div>
					</div>
					
					
					<div class="content-row">
						<div class="field-left">Rights URI:</div>
						<div class="field-right"><%= link_to @record.rights_uri, @record.rights_uri %></div>
					</div>

					
					<div class="content-row">
							<div class="field-left">Citation(s):</div>
							<div class="field-right">	
							<div class="collapsible">
						      <div class="collapse-control"><span class="indicator"></span> Citations</div>
						      	<div class="collapse-content">
							<% if !@record.descriptions.first.nil? %>
								<%= @record.descriptions.first.descriptionText %>
							<% end %>
						
							<% @record.descriptions.drop(1).each do |description| %>
								<p/><%= description.descriptionText %>
							<% end %>
							  </div>
						  </div>
						</div>
					</div>
					
					<div class="content-row">
						<div class="field-left">Abstract:</div>
						<div class="field-right">	
						<div class="collapsible">
					      <div class="collapse-control"><span class="indicator"></span> Abstract</div>
					      	<div class="collapse-content">
								<%= @record.abstract %>
							  </div>
						  </div>
						</div>
					</div>
					
					<div class="content-row">
						<div class="field-left">Methods:</div>
						<div class="field-right">	
						<div class="collapsible">
					      <div class="collapse-control"><span class="indicator"></span> Methods</div>
					      	<div class="collapse-content">
								<%= @record.methods %>
							  </div>
						  </div>
						</div>
					</div>
						
				
				</div>
			</div>
			<div class="missing-fields">
				
					<div class="missing-fields-req">
						
						<% if @record.recommended_fields.size > 0 %>
						
							<h3>Consider adding these missing recommended fields</h3>

							<ul>
							<% @record.recommended_fields.each do |f|%>
								<li><%= f %></li>
								<% end %>
							</ul>
						
							
							<% else %>
								<h3>Record contains all recommended fields</strong></h3>
							<% end %>
						
							<a href="/record/<%=@record.id%>">
								<button class="btn">Go Back Edit Description</button>
							</a>

					</div>
				

			
			
			</div>
			
			<h2>Uploaded Files</h2>
			<% if @record.uploads.nil? || @record.uploads.empty? %>
        		<h3>Record must include at least one file</h3>
				<p/>
      		<% end %>
			<div class="uploaded-files-container">
				<ul>
				<% @record.uploads.each do |dataupload| %>
					<li><%= dataupload.upload_file_name %> (<%= number_to_human_size(dataupload.upload_file_size) %>)</li>
					
				<% end %>
				</ul>
        <%= link_to button_tag("Upload More Files", :class => 'btn'),
                    {:controller => :uploads, :action => :index, :record_id => params[:id]} %>
			</div>
			
			
			<h2>Ready to go?</h2>
						
			<div class="ItemContainer" >	

				<div class="ItemImage" style="float:left;">					
					<% if (@record.required_fields.size == 0 && @record.uploads.size > 0) %>
						<a href="/record/<%=@record.id%>/send_archive_to_merritt">
							<button class="btn btn-large btn-success" id="submit_to_datashare">Submit to Dash</button>
						</a>
					<% else %>
						<button type="button" disabled class="btn btn-large btn-success">Submit to Dash</button>
					<% end %>
				</div>

				<!-- <div class="ItemCheckbox" style="float:left; width:550px; margin-left:20px; " >
					<input type="checkbox" id="agreement" style=" display:block;  float:left; ">
					<label for="agreement" class="checkbox" style=" display:block; margin-left:30px;">
						By clicking this checkbox, I certify that I agree to the Dash
            <%#= link_to 'Terms of use', 'http://www.cdlib.org/about/terms.html', :target => "_blank" %>.
	  				I understand that by submitting data to Dash, I am agreeing to release it under the terms of the 
	  				<%#= link_to 'Creative Commons Attribution license (CC BY-4.0)', 'http://creativecommons.org/licenses/by/4.0/', :target => "_blank" %>.
	  				I warrant that sharing my submission under these terms does not violate any privacy, copyright, or other rights
            of any person or third party.
	  				For more information on why Dash requires CC-BY, see our
	  				<%#= link_to 'policies page', 'http://dash.ucop.edu/policies', :target => "_blank" %>.
	  			</label>
	  		</div> -->
					
			</div>
			

			
			<script type="text/javascript">
				// $(function() {
				// 	$('#submit_to_datashare').click(function(){
				// 		if (!$('#agreement').is(':checked')) { 
				// 			alert("You must agree to the terms of Dash by checking the box before submission.")
				// 			return false;
				// 		};
				// 	});
				// });
			</script>
			
			
		</div> <!-- end content-->
		
	<!-- begin footer-->
				<%if current_user%>
			  	<%= render "layouts/brand/footer_#{current_user.institution.campus}" %>
			  <%else%>
			  	<%= render "layouts/brand/footer_cdl" %>
			  <%end%>	<!-- end footer-->
	</div> <!-- end inner container -->
  </div> <!-- end outer container -->
</div>
</body>
</html>







