<!-- begin page id -->
<div id="my-datasets-page">
  <!-- begin outer container -->
  <div id="outer-container">
    <!-- begin inner container -->
    <div id="inner-container">
      <!-- begin header -->
      <div id="header">
        <%= render 'layouts/header' %>
        <!-- begin navigation-->
      </div>
      <%= render 'layouts/navigation' %>
      <!--end navigation-->
      <!-- begin content -->
      <div id="content">
        <div id="banner">
          <%= image_tag("banner-home-v8.0.jpg", width: "952", height: "72", alt: "Publish and Download Research Datasets") %>
        </div>
        <div class="single-column">
          <h1>My Datasets</h1>
          <div class="dataset-table">
            <table class="table table-bordered">
              <tr>
                <th class="data-title">Title</th>
                <th class="data-publisher">Publisher</th>
                <th class="data-year">Publication Year</th>
                <th class="data-action">Action</th>
              </tr>
              <% @records.each do |record| %>
                  <tr>
                    <td class="data-title"><%= record.title %></td>
                    <td class="data-publisher"><%= record.publisher %></td>
                    <td class="data-year"><%= record.publicationyear %></td>
                    <td class="data-action">
                      <%= link_to "Edit", "/record/#{record.id}" %> |
                      <%= link_to "Delete", "/record/#{record.id}/delete", :confirm => "This action will delete all metadata and remove all associated file uploads.  Confirm delete?" %> |
                      <%= link_to "Log", "/record/#{record.id}/logs" %>
                    </td>
                  </tr>
              <% end %>
            </table>
          </div>
          <div id="add-new-dataset">

            <a href="new">
              <%= submit_tag "Add New Dataset", :class =>  "btn btn-large btn-success" %>
            </a>

          </div>
        </div>
      </div>
      <!-- begin footer-->
<%if current_user %>
      <%= render "layouts/brand/footer_#{current_user.institution.campus}" %>
    <%else%>
      <%= render "layouts/brand/footer_cdl" %>
    <%end%>
      <!-- end footer-->
    </div> <!-- end inner container -->
  </div> <!-- end outer container -->
</div> <!-- end page -->
