<%= render 'layouts/head1' %>
<title>Dash: My Datasets - Open data for the global research community</title>
<%= render 'layouts/head2' %>

<body>
<!-- begin page id -->
<div id="my-datasets-page"> 
<!-- begin outer container -->  
	<div id="outer-container"> 
		<!-- begin inner container -->
		<div id="inner-container"> 
			<!-- begin header -->
			<div id="header">
				<%= render 'layouts/header' %>
			<!-- end header -->
			</div>
			<!-- begin navigation-->
				<%= render 'layouts/navigation' %>
			<!--end navigation-->
			<!-- begin content -->
			<div id="content"> 	
				<div id="banner">
					<%= image_tag("banner-home-v8.0.jpg", width: "952", height: "72", alt: "Publish and Download Research Datasets") %>
				</div>
				<div class="single-column">
					<h1>Submission Logs</h1>
					<div class="instruction">
						Submission Logs for: <%= @record.title %>
					</div>
					<div class="dataset-table">
						<table class="table table-bordered">
							<tr>
								<th class="data-title">Submission Logs</th>
								<th class="data-title">Dash Response</th>
								<th class="data-title">Files</th>
							</tr>
							<% @record.submissionLogs.reverse.each do |s| %>
							<tr>
								<td class="data-id"><%= s.created_at %></td>
								<td class="data-title"><%= s.filtered_response %></td>
								<td class="data-title">
									<% if s.uploadArchives.count > 0 %>
									<% s.uploadArchives.each do |upload| %>
									<%= upload.upload_file_name %> (<%= number_to_human_size(upload.upload_file_size) %>)<br/>
									<% end %>
									<% end %>
								</td>
							</tr>
							<% end %>
						</table>
					</div>
					<div id="add-new-dataset">
						<a href="/records">
							<button class="btn btn-large">Back to My Datasets</button>
						</a>
					</div>
				</div>
			</div>
			<!-- begin footer-->
<%if current_user %>
  		<%= render "layouts/brand/footer_#{current_user.institution.campus}" %>
  	<%else%>
  		<%= render "layouts/brand/footer_cdl" %>
  	<%end%>
		</div> <!-- end inner container -->
	</div> <!-- end outer container -->
</div>
</body>
</html>
