<%= render 'layouts/head1' %>
<title>Dash: Upload data</title>
<link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>
<body>
	<!-- begin page id -->
	<div id="step-three-upload-page"> 
		<!-- begin outer container -->  
		<div id="outer-container"> 
			<!-- begin inner container -->
			<div id="inner-container"> 
				<!-- begin header -->
				<div id="header"> 
					<%#= render 'layouts/header-logout' %>
					<%= render 'layouts/header' %>
				</div>
				<!-- end header -->
				<!-- begin navigation-->
					<%= render 'layouts/navigation' %>
				<!--end navigation-->
				<!-- begin content -->
				<div id="content"> 
					<div id="banner">
						<%= image_tag("banner-home-v8.0.jpg", width: "952", height: "72", alt: "Publish and Download Research Datasets") %>
					</div>
					<div id="upload-content">
						<h1>Upload Your Dataset(s)</h1>
						<div id="left-container">
							<% if @uploads.count > 0 %>
							<h1>Existing Datasets</h1>
							<div>
								<ul>
									<% @uploads.each do |upload| %>
									<li><%= upload.upload_file_name %> <%= link_to "delete", "datauploads/#{upload.id}/delete", :confirm => "Are you sure?" %></li>
								<% end %>
								</ul>
							</div>
							<% end %>
							
							<%= form_for Upload.new, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
								<div id="upload_bg">
									<div id="upload-box" title="Drag &amp; drop files here">
									</div>
									<div id="browse_btn">
										<span class="btn btn-success fileinput-button">
											<i class="icon-plus icon-white"></i>
											<%= label_tag(:upload_upload, "Add files...") %>
											<%= file_field_tag 'upload[upload]', multiple: 'true'%>
											<%= f.hidden_field :record_id, :value => @record_id%>
										</span>
									</div>
								</div>
								<!-- The loading indicator is shown during image processing -->
								<div class="fileupload-loading"></div>
								<br/>
								<!-- The table listing the files available for upload/download -->
								<table class="table table-striped">
									<tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
								</table>
							<% end %>

							<div class="clear"></div>
							<div class="large-button-container">				
								<a href="/record/<%=@record_id%>">
									<button type="button" class="btn btn-large">Go Back Edit Description</button>
								</a>
								<br/>
								<br/>
								<a href="/record/<%=@record_id%>/review">
									<%#= hidden_filed_tag :file_size, :value => @upload.upload_file_size %>
									<button type="button" class="btn btn-large btn-success">Review and Submit</button>
								</a>
							</div>
						</div>
						<div id="right-container">
							<div id="upload-faq-container">
								<div class="upload-faq"><em>Upload FAQ</em></div>
									<div class="no-bullet-points">
										<ul>
											<li>See <a href="/xtf/search?smode=policiesPage">Policies</a> for more information on uploading datasets to Dash.</li>
											<li>All file formats are accepted by Dash, although it is good practice to share data using open formats. See the UK Data Archive for a <a href="http://www.data-archive.ac.uk/create-manage/format/formats-table" target="_blank">list of optimal file formats</a>.</li>
											<li>Include any files that may help others to use your data. This includes readme files, formal metadata files, or other critical information.</li>
											<li>Any data submitted via Dash will be under a <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 (CC BY-4.0)</a> license. We do not currently support any other license types, nor do we allow for restrictions on data access or use.</li>
											<li>It is your responsibility to ensure your data are being shared responsibly and ethically. Please be careful of sharing sensitive data and ensure you are complying with institutional and governmental regulations.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end content-->
					<!-- begin footer-->
					<%if current_user%>
				  	<%= render "layouts/brand/footer_#{current_user.institution.campus}" %>
				  <%else%>
				  	<%= render "layouts/brand/footer_cdl" %>
				  <%end%>				<!-- end footer-->
				</div> <!-- end inner container -->
			</div> <!-- end outer container -->
		</div>
</body>
</html>

<script>
  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
    <td class="name"><span>{%=(file.name).length > 15 ? (file.name).substr(0,8) + "..." + (file.name).substr((file.name).length - 7,(file.name).length) : file.name %}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td>
      <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
    </td>
    <td class="start">{% if (!o.options.autoUpload) { %}
      <button class="btn btn-primary">
        <i class="icon-upload icon-white"></i>
        <span>{%=locale.fileupload.start%}</span>
      </button>
      {% } %}</td>
    {% } else { %}
    {% } %}
    <td class="cancel">{% if (!i) { %}
      <button class="btn btn-warning">
        <i class="icon-ban-circle icon-white"></i>
        <span>{%=locale.fileupload.cancel%}</span>
      </button>
      {% } %}</td>
  </tr>
  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
      {% if (file.error) { %}
        <td></td>
        <td class="name"><span>{%=(file.name) %}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}

        <td class="name"><span>{%=(file.name).length > 15 ? (file.name).substr(0,8) + "..." + (file.name).substr((file.name).length -7,(file.name).length) : file.name %}</span></td>
       
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% } %}
      <td class="delete">
        <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
          <i class="icon-trash icon-white"></i>
          <span>{%=locale.fileupload.destroy%}</span>
        </button>
        <input type="checkbox" name="delete" value="1">
      </td>
    </tr>
    {% } %}
</script>

<script type="text/javascript" charset="utf-8">
  $(function () {
      // Initialize the jQuery File Upload widget:
      $('#fileupload').fileupload({
	    maxChunkSize: 1048576,
		//acceptFileTypes: /(\.|\/)(gif|jpe?g|png|tif?f)$/i
		maxFileSize: 1048576 * 200,// 5GB,
		limitMultiFileUploadSize: 1048576 * 200
	});
      // 
      // Load existing files:
      $.getJSON($('#fileupload').prop('action'), function (files) {
        var fu = $('#fileupload').data('blueimpFileupload'), 
          template;
        fu._adjustMaxNumberOfFiles(-files.length);
        console.log(files);
        template = fu._renderDownload(files)
          .appendTo($('#fileupload .files'));
        // Force reflow:
        fu._reflow = fu._transition && template.length &&
          template[0].offsetWidth;
        template.addClass('in');
        $('#loading').remove();
      });

  });
</script>